.color-picker-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 250px;
    height: 250px;
    background-color: black;
}