
.to-do-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4B264A;
    width: 100%;
    max-width: 600px;
    min-height: 650px;
    margin-bottom: 1em;
    border-radius: 40px;
    margin-top: 50px;
}

.to-do-main-container > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 0;
    gap: 10px;
}

.task-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #693668;
    padding: 0 2em;
    border-radius: 30px;
}
.task-container > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    gap: 25px;
}
.trash-icon{
    color: red;
}
.arrow-up-icon,.arrow-down-icon{
    color: white;
}
.list-icon{
    cursor: pointer;
    font-size: 2rem;
}
.task-text{
    font-size: 2rem;
    color: white;
    font-family: "Nunito", sans-serif;
}
.checked-text{
    font-size: 2rem;
    color: blue;
    font-family: "Nunito", sans-serif;
}

.custom-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    cursor: pointer;
}

.custom-checkbox > input{
    display: none;
}

.custom-checkbox span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid white;
    color: transparent;
    font-size: 0px;
    border-radius: 4px;
}


.custom-checkbox input[type="checkbox"]:checked + span {
    border: 2px solid transparent;
    color: #fff;
    font-size: 40px;
}


.task-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;
}
.task-input{
    width: 100%;
    min-height: 30px;
    max-width: 300px;
    text-align: center;

}